.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 30px auto;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.space{
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer{
    background-color: #c9bddf;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: rgb(173, 132, 173);
    color: floralwhite;
}

.history{
    margin: 80px 0px 80px 0px;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: grey;
}

body{
    padding: 50px 0px 50px 0px;
    margin: 0px auto 0px auto;
    z-index: 0;
}

.navbar-dark{
    background-color: rgb(137, 73, 197);
}

.tab-content{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.carousel {
    background: #5120ad;
}

.carousel-item{
    height: 300px;
}

.carousel-item img{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}